@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: whitesmoke;
    font-family: 'Sacramento', cursive;
}

h1{

    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
    letter-spacing: 5px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: (255,255,255,0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */


.image-container{
    margin:10px 30%;

}
.image-container img{
    width: 100%;
    margin-top: 5px;

}


.item-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .item-front, .item-back {
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;

    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .item-front{
      z-index: 2;
  }

  .item-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotateY(180deg);
  }
  

.item-inner:hover {
    transform: rotateY(180deg);
  }

  .h1-author, .h1-desc{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50px;
    letter-spacing: 5px;
  }

/* Media Query: Large Smartphone */
@media screen and  (max-width:600px){
    h1{
        font-size: 40px;
    }

    .image-container{
        margin:12px
    }
}